body {
    /* background-image: url("https://i.pinimg.com/originals/a3/3b/7a/a33b7ae13022907c0f5c25b7ac714f48.gif"); */
    background-image: url('https://media1.tenor.com/images/e40e8f2dddb8e9a9e78bb7e3b1367bf4/tenor.gif?itemid=16787823');
    background-repeat: repeat;
    background-size: cover;

}
.nes-btn {
    margin-left: 25%;
}

#speechBubbles {
    border: none;
    margin-top: 10%;
    margin-left: 10%;
} 

@media screen and (min-width: 1000px){
    #gridContainer {
        display: grid;
        grid-template-columns: 45% 55% ;
        grid-template-rows: auto;
    }

    #container {
        margin-top: 10%;
        height: 60%;
        max-width: 60%;
        margin-left: 10%;  
    }
}






