body {
    /* background-image: url("https://i.gifer.com/OVBs.gif"); */
    background-image: url("https://i.pinimg.com/originals/a3/3b/7a/a33b7ae13022907c0f5c25b7ac714f48.gif");
    /* background-image: url("https://i.pinimg.com/originals/42/49/74/424974881a962b5f2de02f2bfd1c88d2.gif"); */
    background-repeat: no-repeat;
    background-size: cover;

}
.nes-btn {
    margin-left: 25%;
}

#container {
    margin-top: 10%;
    height: 70%;
    max-width: 70%;
    margin-left: 10%;  
}

#speechBubbles {
    border: none;
    margin-top: 10%;
    margin-left: 10%;
} 

#gridContainer {
    display: grid;
    grid-template-columns: 45% 55% ;
    grid-template-rows: auto;
}